.root_market {
    margin: 20px;
}

.market_list_avatar {
    margin-top: 10px;
}

.list_description_market {
    color: #ffffff;
    margin-top: 27px;
}

.list_title_market {
    color: #ffffff;
    margin-top: 15px;
}